<h2 class="text-team-members">Our team:</h2>
<div class="grid-team">

  <% @team_members.each do |team_member| %>
    <div class="card-team">
      <%= cl_image_tag team_member.photo.key, height: 600, width: 400, crop: :fill %>
      <h4><%= team_member.first_name %> <%= team_member.last_name %></h4>
      <h6><%= team_member.position %></h6>
      <p><%= team_member.info %></p>
    </div>
  <% end %>


</div>

<% if current_user.present? %>
  <% if policy(TeamMember).create? %>
    <div class="form-green-star">
      <h3>Team member form</h3>
      <hr/>
      <%= simple_form_for [@team_member] do |f| %>
        <%= f.input :first_name %>
        <hr/>
        <%= f.input :last_name %>
        <hr/>
        <%= f.input :position %>
        <hr/>
        <%= f.input :info %>
        <hr/>
        <%= f.input :photo, as: :file %>
        <hr/>
        <%= f.submit "Submit", class: "btn-green-star" %>
      <% end %>
    </div>
  <% end %>
<% end %>
<br>
<br>
