  <div class="form-green-star">
    <h3>Edit project form</h3>
    <hr/>
    <%= simple_form_for [@project] do |f| %>
      <%= f.input :name %>
      <hr/>
      <%= f.input :location %>
      <hr/>
      <%= f.input :description %>
      <hr/>
      <%= f.input :photo, as: :file %>
      <hr/>
      <%= f.submit "Edit", class: "btn-green-star" %>
    <% end %>
  </div>
