<div class="banner-project" style="background-image: linear-gradient(rgba(255,255,255,0.64), rgba(255,255,255,0.64)), url('<%= image_path "Track.png", alt: "Track" %>')">
  <h2>Our projects:</h2>
</div>
<div class="grid-project">
  <% @projects.each do |project| %>
    <div class="card-project">
      <%if project.photo.present? %>
        <%= cl_image_tag project.photo.key, height: 400, width: 600, crop: :fill %>
      <% end %>
      <div class="icons-projects">
        <% if policy(Project).destroy? %>
          <i class="far fa-trash-alt"><%= link_to "", project_path(project), method: :delete %></i>
        <% end %>
        <% if policy(Project).update? %>
          <i class="far fa-edit"><%= link_to "", edit_project_path(project) %></i>
        <% end %>
      </div>
      <h4><%= project.name %></h4>
      <h6><%= project.location %></h6>
      <p><%= project.description %></p>


    </div>
  <% end %>

</div>
<% if policy(Project).create? %>
  <div class="form-green-star">
    <h3>Project form</h3>
    <hr/>
    <%= simple_form_for [@project] do |f| %>
      <%= f.input :name %>
      <hr/>
      <%= f.input :location %>
      <hr/>
      <%= f.input :description %>
      <hr/>
      <%= f.input :photo, as: :file %>
      <hr/>
      <%= f.submit "Submit", class: "btn-green-star" %>
    <% end %>
  </div>
<% end %>
<br>
<br>
