<div class="banner-project" style="background-image: linear-gradient(rgba(255,255,255,0.64), rgba(255,255,255,0.64)), url('<%= image_path "Track.png", alt: "Track" %>')">
  <div>
    <h2>Recent projects</h2>
    <p>we have supplied on:</p>
  </div>
</div>
<div class="grid-project">
  <% @projects.each do |project| %>
    <div class="card-project">
      <%if project.photo.present? %>
        <%= cl_image_tag project.photo.key, height: 400, width: 600, crop: :fill %>
      <% end %>
      <% if current_user.present? %>
        <div class="icons-projects">
          <% if policy(Project).destroy? %>
            <%= link_to project_path(project), method: :delete do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
          <% if policy(Project).update? %>
            <%= link_to edit_project_path(project) do %>
              <i class="far fa-edit"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <h4><%= project.name %></h4>
      <h6><%= project.location %></h6>
      <p><%= project.description %></p>
    </div>
  <% end %>

</div>

<% if current_user.present? %>
  <% if policy(Project).create? %>
    <div class="form-green-star">
      <h3>Project form</h3>
      <hr/>
      <%= simple_form_for [@project] do |f| %>
        <%= f.input :name %>
        <hr/>
        <%= f.input :location %>
        <hr/>
        <%= f.input :description %>
        <hr/>
        <%= f.input :photo, as: :file %>
        <hr/>
        <%= f.submit "Submit", class: "btn-green-star" %>
      <% end %>
    </div>
  <% end %>
<% end %>
<br>
<br>
