<% if policy(@jobseeker).create? %>
  <div class="form-green-star">
    <h3>Jobseeker form</h3>
    <hr/>
    <%= simple_form_for [@jobseeker] do |f| %>
      <%= f.input :first_name %>
      <hr/>
      <%= f.input :last_name %>
      <hr/>
      <%= f.input :address_line1 %>
      <hr/>
      <%= f.input :address_line2 %>
      <hr/>
      <%= f.input :address_line3 %>
      <hr/>
      <%= f.input :post_code %>
      <hr/>
      <%= f.input :phone_number %>
      <hr/>
      <%= f.input :email %>
      <hr/>
      <%= f.input :trade %>
      <hr/>
      <%= f.input :qualifications %>
      <hr/>
      <%= f.input :references %>
      <hr/>
      <%= f.input :enquiry %>
      <hr/>
      <%= f.submit "Submit", class: "btn-green-star" %>
    <% end %>
  </div>
<% end %>
<br>
<br>
