<div class="container-trades">
  <div class="col-trades">
    <h2>Some operatives</h2>
    <p>we supply</p>
    <% @trades.each do |trade| %>
      <div class="name-trades">
        <h3><%= trade.name %></h3>
        <% if current_user.present? %>
          <% if policy(Project).destroy? %>
            <%= link_to trade_path(trade), method: :delete do%>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>
  <div class="col-trades-photos">
    <div class="fraction-trades">
      <%= image_tag "Bricklayer.png", alt: "Bricklayer", width: 510 %>
    </div>
    <div class="fraction-trades">
      <%= image_tag "Dryliners.jpg", alt: "Dryliners", width: 400 %>
    </div>
    <div class="fraction-trades">
      <%= image_tag "Groundworkers.jpg", alt: "Groundworkers", width: 510 %>
    </div>
    <div class="fraction-trades">
      <%= image_tag "Plasteres.jpg", alt: "Plasteres", width: 400 %>
    </div>
    <div class="fraction-trades">
      <%= image_tag "telescopic-forklift.jpg", alt: "telescopic-forklift", width: 450 %>
    </div>
    <div class="fraction-trades">
      <%= image_tag "Labourer.jpg", alt: "Labourer", width: 400 %>
    </div>
  </div>

</div>

<% if current_user.present? %>
  <% if policy(Trade).create? %>
    <div class="form-green-star">
      <h3>Trade form</h3>
      <hr/>
      <%= simple_form_for [@trade] do |f| %>
        <%= f.input :name %>
        <hr/>
        <%= f.submit "Submit", class: "btn-green-star" %>
      <% end %>
    </div>
  <% end %>
<% end %>
<br>
<br>
